.app__sidebar {
    height: 100%;
    position: relative;
}

.app__sidebar-profile {
    align-items: center;
    background-color: var(--color-white);
    border-radius: .4rem;
    display: flex;
    margin-bottom: 1rem;
    padding: 1rem ;
}
.app__sidebar-profile img {
    border-radius: 50%;
    height: 2.5rem;
    margin-right: 1rem;
    width: 2.5rem;
}

.app__sidebar-profile div span {
    font-size: .825rem;
    color: var(--color-dark);
    margin: 0;
    padding: 0;
}
.app__sidebar-profile a {
    color: var(--color-dark);
    font-size: .75rem;
    font-weight: 400;
}

.app__sidebar-menu {
    background-color: var(--color-white);
    transition: all 300ms ease-in;
    width: 100%;
}

.app__sidebar-menu .app__sidebar-menu__links  {
    color: var(--color-dark);
    padding: .625rem 1rem;
    transition: all 300ms ease-in;
}

.app__sidebar-menu li a .app__sidebar-menu__links:hover, .btn:hover {
    background-color: var(--color-dark);
    color: var(--color-white);
}

.app__sidebar-menu .active .app__sidebar-menu__links {
    background-color: var(--color-dark) !important;
    color: var(--color-white) !important;
}

.app__sidebar-menu__links {
    align-items: center;
    display: flex;
}

.app__sidebar-menu__links svg {
    color: inherit;
    font-size: 1.5rem;
}

.app__sidebar-menu__links span {
    font-size: .75rem;
    font-weight: 400;
    margin-left: 1rem;
}

.app__sidebar-menu__links.btn {
    cursor: pointer;
}

.app__sidebar-menu__btns {
    align-items: center;
    background-color: var(--color-dark);
    border-radius: 50%;
    box-shadow: 0px 1px 2px rgba(0,0, 0,0.4);
    color: var(--color-white);
    display: none;
    height: 3rem;
    justify-content: center;
    margin: 0 auto;
    transition: all 300ms ease-in;
    width: 3rem;
}

.app__sidebar-menu__btns svg {
    font-size: 1.5rem;
}

@media screen and (max-width: 768px ){
    .app__sidebar-profile {
        display: none;
    }
    
    .app__sidebar-menu {
        border-radius: .4rem;
        width: 0;
        overflow: hidden;
    }

    .app__sidebar-menu__btns {
        display: none;
    }

    .app__sidebar-menu__links {
        align-items: center;
        justify-content: center;
    }
    .app__sidebar-menu__links span {
        display: none;
    }

    .app__sidebar-menu__links svg {
        flex-grow: 1;
        max-width: 1.5rem;
    }

    .app__sidebar-menu .app__sidebar-menu__links {
        padding:1rem;
    }

}

@media screen and (max-width: 560px) {
    .app__sidebar {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .app__sidebar-menu .app__sidebar-menu__links {
        padding:1rem;
    }

    .app__sidebar-menu__btns {
        bottom: 3rem;
        display: flex;

    }
}