.app {
    height: 100%;
    width: 100%;
}
.app__main {
    height: calc(100% - 6rem);
    position: relative;
    top: 6rem;
    width: 100%;
}

.app__main-container {
    height: 100%;
    margin: auto;
    width: 80%;
}

.app__main-container__row {
    display: flex;
    gap: 2rem;
    height: 100%;
}
.app__main-center, .app__main-left, .app__main-right {
    height: 100%;
}

.app__main-center {
    flex: 1;
    overflow: auto;
}

.app__main-left {
    flex: 0.5;
    padding: 0 .2rem;
}

.app__main-right {
    align-items: flex-end;
    display: flex;
    flex: 0.5;
    flex-direction: column;
    gap: 1rem;
    overflow: auto;
}

.app__main-right::-webkit-scrollbar {
    display: block;
}

.app__users {
    background-color: var(--color-white);
    border-radius: .4rem;
    overflow: hidden;
    width: 100%;
}

.app__chats {
    flex-grow: 1;
    background-color: #1a2b3c ;
    width: 100%;
}

@media screen and (max-width: 824px) {
    .app__main-container {
        width: 90%;
    }
    
    .app__main-container__row {
        gap: 1rem;
    }

    .app__main-right {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .app__main-left {
        max-width: 4rem;
        overflow: hidden;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
    }
    /* .app__main-left {
        max-width: 4rem;
        max-width: max-content;
        padding: 0;
    } */
}