.app__feeds {
    margin-top: .5rem;
}

/* FEED CREATE */

.app__feed-create {
    align-items: center;
    background-color: var(--color-white);
    border-radius: .4rem;
    cursor: pointer;
    display: flex;
    gap: .75rem;
    padding: 0.7rem 1rem;
    margin-bottom: 1rem;
}
.app__feed-create img {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
}

.app__feed-create .input {
    border: 1px solid var(--color-light);
    border-radius: 2rem;
    flex-grow: 1;
    font-family: inherit;
    font-size: .75rem;
    font-weight: 400;
    height: 100%;
    padding: 0.75rem 1rem;
    transition: all 300ms ease-in;
}

.app__feed-create .input:hover {
    background-color: var(--color-light);
    color: var(--color-dark);
}

.app__feed-create svg {
    color: var(--color-dark);
    font-size: 1.5rem;
}

.app__feed-create__options {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.app__feed-create__options span {
    font-size: .75rem;
}




/* FEED */
.app__feed {
    margin-bottom: 1rem;
}
.app__feed-container {
    background-color: var(--color-white);
    border-radius: .4rem;
    overflow: hidden;
}

/* FEED HEADER */
.app__feed-container__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem ;
}

.app__feed-header__user img {
    border-radius: 50%;
    height: 2.5rem;
    margin-right: .625rem;
    width: 2.5rem;
}

.app__feed-header__user {
    align-items: center;
    display: flex;
}

.app__feed-header__user a {
    color: var(--color-dark);
    font-size: .875rem;
    font-weight: 400;
    margin-left: .4rem;
}

.app__feed-header-user-details {
    margin-left: .2rem;
}

.app__feed-header__user p {
    font-size: .75rem;
    font-weight: 400;
}

.app__feed-container__header svg {
    font-size: 1.4rem;
}

.app__feed-header__user .app__feed-location {
    align-items: center;
    color: var(--color-gray);
    display: flex;
}
.app__feed-location svg {
    font-size: 1.2rem;
}

/* FEED BODY */
.app__feed-container__body {
    /* padding: 0 .5rem; */
}
.app__feed-container__body img {
    /* border-radius: .4rem; */
    width: 100%;
}

/* FEED FOOTER */
.app__feed-container__footer {
    padding: .5rem 1rem;
}

.app__feed-footer__btns {
    align-items: center;
    display: flex;
    gap: 1.5rem;
}

.app__feed-footer__btn svg {
    font-size: 1.4rem;
}

.app__feed-footer__details {
    margin-top: 1rem;
}

.app__feed-footer__details-like {
    display: flex;
    align-items: center;
}

.app__feed-footer__details-like p {
    font-size: .75rem;
    font-weight: 400;
}

.app__feed-footer__details-like p a {
    font-weight: 600;
}

.app__feed-footer__details-avatars {
    margin-right: .625rem;
}

.app__feed-footer__details-avatars img {
    border-radius: 50%;
    height: 2rem;
    margin-left: -1rem;
    width: 2rem;
}
.app__feed-footer__details-avatars img:first-child {
    margin-left: 0;
}