.app__chat-container {
    background-color: var(--color-white);
    border-radius: .4rem;
    height: 100%;
}

.app__chat-header {
    padding: 1rem .5rem;
}

.app__chat-header__title {
    margin-bottom: .5rem;
}

.app__chat-header__title h4 {
    font-size: 1rem;
    font-weight: 400;
}

.app__chat-header__searchbox {
    align-items: center;
    background-color: var(--color-light);
    border-radius: 2rem;
    display: flex;
    padding: 0 1rem;
}

.app__chat-header__searchbox input {
    background-color: transparent;
    border: none;
    flex-grow: 1;
    flex-shrink: 1;
    font-family: inherit;
    font-size: .875rem;
    font-weight: 300;
    padding: 0.625rem 0;
}

.app__chat-header__searchbox svg {
    color: var(--color-gray);
    font-size: 1.4rem;
    margin-right: .5rem;
}


/* ACTIVE CHATS */

.app__chat-active__users {
    display: flex;
    flex-wrap: nowrap;
    gap: .2rem;
    overflow: auto;
    padding: .5rem;
}

.app__chat-active__users::-webkit-scrollbar {
    display: none;
}

.app__chat-active__user {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-width: 3.5rem;
}

.app__chat-active__user-img {
    position: relative;
}

.app__chat-active__user img {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    background-color: coral;
}

.app__chat-active__user p {
    font-family: inherit;
    font-size: .625rem;
    font-weight: 400;
    margin-top: 0rem;
    text-align: center;
    word-wrap: break-word;
    white-space: nowrap;
}

.box {
    align-items: center;
    background-color: var(--color-light);
    border-radius: 50%;
    display: flex;
    height: 12px;
    justify-content: center;
    width: 12px;
    position: absolute;
    right: 0;
    top: 2.2rem;
}

.active-box {
    background-color: var(--color-success);
    border-radius: 50%;
    height: 10px;
    width: 10px;
}