.app__upload-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.app__upload-container {
    background-color: var(--color-white);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 10;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.app__upload-overlay svg {
    color: var(--color-white);
    font-size: 2.5rem;
    position: absolute;
    right: 2rem;
    top: 6rem;
    z-index: 10;
}