.app__upload {
    overflow: hidden;
}

.app__upload-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10;
}

.app__upload-container {
    background-color: var(--color-white);
    border-radius: .4rem;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 580px;
    z-index: 99;
}

/* header */
.app__upload-header {
    border-bottom: 1px solid var(--color-light);
    padding: 1rem .5rem;
    position: relative;
    text-align: center;
}

.app__upload-header svg {
    color: var(--color-dark);
    font-size: 1.5rem;
    position: absolute;
    right: .5rem;
    top: 1rem;
    z-index: 10;
}

.app__upload-header h2 {
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 500;
}

/* body */
.app__upload-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1rem;
}

.app__upload-body img {
    border-radius: 50%;
    height: 3rem;
    margin-right: .5rem;
    width: 3rem;
}

.app__upload-body__user {
    display: flex;
    margin-bottom: .5rem;
}

.app__upload-body__user-location {
    align-items: center;
    color: var(--color-gray);
    display: flex;
}

.app__upload-body__user p:first-child {
    color: var(--color-dark);
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

.app__upload-body__user-location p {
    font-size: .875rem;
    font-weight: 400;
}

.app__upload-body__upload {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
}

.app__upload-body__upload-input {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.app__upload-body__upload-input svg {
    font-size: 2rem;
    margin-left: .5rem;
}

.app__upload-body__upload-input input {
    border: none;
    font-family: inherit;
    font-size: .75rem;
    font-weight: 400;
    padding: .5rem 1rem;
    width: 100%;
}

.app__upload-body__upload-media {
    border: 1px solid var(--color-dark);
    border-radius: .4rem;
    flex-grow: 1;
    padding: .5rem;
}

.app__upload-body__upload-media label  {
    align-items: center;
    border-radius: .4rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: calc(100% - 1rem);
    justify-content: center;
    padding: .5rem;
    transform: all 300ms ease-in;
}

.app__upload-body__upload-media label:hover {
    background-color: var(--color-light);
}

.app__upload-body__upload-media label input {
    height: 0;
    width: 0;
}

label div {
    align-items: center;
    background-color: var(--color-dark);
    border-radius: 50%;
    display: flex;
    height: 2.5rem;
    justify-content: center;
    width: 2.5rem;
}

label svg {
    color: var(--color-white);
    font-size: 1.5rem;
}

label span {
    font-size: .875rem;
    font-weight: 400;
}

/* footer */
.app__upload-footer {
    background-color: var(--color-light);
    padding: 1rem;
    text-align: center;
}

.app__upload-footer button {
    background-color: var(--color-primary);
    background-color: var(--color-dark);
    border: none;
    border-radius: .4rem;
    border-radius: 2rem;
    color: var(--color-white);
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    margin: auto;
    outline: none;
    overflow: hidden;
    padding: .5rem 2rem;
    position: relative;
    width: 180px;
}

.app__upload-footer button:disabled {
    cursor: not-allowed;
}

.btn-overlay {
    background-color: rgba(255,255,255,0.6);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}


@media screen and (max-width: 600px) {
    .app__upload-container {
        width: 95%;
    }
}